li{
    list-style-type: none;
    font-weight: 400;

}

.nav-link .active{
    color: #17A3B0;
}
.cards{
    flex-direction: column;
    margin-top: 5em;
    border-radius: 10px;
    padding: 1em 1em;
    box-shadow: 7px 0px 32px -3px rgba(0,0,0,0.1);
    height: 40vh;
    justify-content: space-between;
}
.cards div p{
    font-weight: bold;
}
.btn-custom{
    color: #8CAE48;
}
.servicos div{
    text-align: center;
}
.servicos div i{
    font-size: 30px;
    color: #17A3B0;
}
.servicos div p{
    font-weight: 500;
}
.bi-star-fill{
    color: gold;
}

.cards_avaliacao div div{
    justify-content: space-between;
}
.carousel-item img{
    height: 400px;
}
.carousel-item iframe{
    height: 400px;
}
@media (max-width: 600px) {
    .carousel .slide{
        width: 74vh;
        height: 200px;
        
    }
    .carousel-item img{
        height: 200px;
    }
    .carousel-item iframe{
        height: 200px;
    }
}
